node_modules
cypress/integration/examples
cypress/videos
cypress/screenshots
.config/
.cache/
.npm/
.pki/
docker/.env
.bash_history
cypress/screenshots/*
cypress/videos/*
lib
mydownloads/*
downloads/*.csv
cypress/downloads/*
downloads/*